<div>
  <nav
    class="navbar navbar-expand-lg navbar-light font-weight-bold p-0 border border-dark"
    style="background-color: '#E0E0E0'"
  >
    <div
      style="text-align: center"
      class="navbar-header border-right border-dark"
    >
      <a class="navbar-brand p-3" href="#">DEMO</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item px-3">
          <a
            class="nav-item nav-link text-primary active"
            routerLink=""
            routerLinkActive="active"
            (click)="toPage1()"
          >
            <u>Page 1</u> <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item px-3">
          <a
            class="nav-item nav-link text-primary"
            routerLink="['/page2', jsonData]"
            routerLinkActive="active"
            (click)="toPage2()"
          >
            <u>Page 2</u>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row p-0">
    <div
      class="col-sm-1 p-0 border border-top-0 border-dark"
      style="height: 89vh; background-color: '#E0E0E0'"
    >
      <div class="d-flex flex-column">
        <button
          routerLink="/page1"
          class="p-4 mb-3 btn btn-primary rounded-0 shadow-sm"
        >
          P1
        </button>
        <button
          routerLink="/page2"
          class="p-4 my-3 btn btn-primary rounded-0 shadow-sm"
        >
          P2
        </button>
      </div>
    </div>
    <div class="col-sm-11 p-0" style="width: 90%">
      <div>
        <table class="table table-bordered table-hover m-4" style="width: 96%">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Machine</th>
              <th scope="col">Operation</th>
              <th scope="col">Parts</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of jsonData.plant_data">
            <tr>
              <th scope="row">{{ data.no }}</th>
              <td>{{ data.machine }}</td>
              <td>{{ data.Operation }}</td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  [value]="data.parts"
                  #parts
                  (change)="setParts(data.no, parts.value)"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  [value]="data.time"
                  #time
                  (change)="setTime(data.no, time.value)"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end m-4">
          <button
            class="m-3 px-5 btn border-dark border-2 rounded-lg"
            style="background-color: '#E0E0E0'"
          >
            Load
          </button>
          <button
            class="m-3 px-5 btn border-dark border-2 rounded-lg"
            style="background-color: '#E0E0E0'"
            (click)="saveData()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
